@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Confirm Engineer Termination:</h2>

@Html.DisplayNameFor(model => model.Name): <span> </span> @Html.DisplayFor(model => model.Name)

@using (Html.BeginForm())
{
  <p>It is hereby declared that this Engineer is not Silly enough</p>
  <input type="submit" value="Agreed. Delete!" />
}

<hr />
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
<p>@Html.ActionLink("Edit this Engineer", "Edit", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Add MORE Machine Licenses", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to Engineers", "Index")</p>
<p>@Html.ActionLink("Back to Machines", "Index", "Machines")</p>